<div class="container">
	<button id="back">back</button>
	<div id="saveColorName">
		<input type="text" id="typing">
		<button id ="save">save</button>
	</div>
   <div id="temp_addColor">
   </div>
</div><!-- container -->

