<form action="/addUser" method="POST">
User ID:<br>
<input type="text" name="user_id">
<br>
Bridge's IP Adress:<br>
<input type="text" name="bridge_ip" value="128.122.151.166">
<br>
Your username registered in the bridge:<br>
<input type="text" name="bridge_username">
<br>
The light ID you want to control:<br>
<input type="text" name="light_id">
<br>

<br>
<input type="submit" value="Submit">
</form>